.gpa-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.gpa{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gpa-container h2 {
  color: #2c3e50;
  margin-bottom: 25px;
}

.gpa-container button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.gpa-container p {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
