body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
}

.main-header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #27ae60;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #219150;
}

.error-text {
  color: red;
  font-size: 14px;
  text-align: center;
}
h5{
  color: rgb(0, 162, 255);
  font-weight: 500;
  text-align: center;
}
